body {
    background-color: "white";
}

.baslik {
    font-size: 25px;
    background: -webkit-linear-gradient(#7c57be, rgb(72, 241, 129));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    position: relative;
    top: -34px;
}
.algorithm {
    position: relative;
    top: -70px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 85px;
    padding-top: 18px;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    margin-left: 8px;
}

li :hover {
    background-color: lightgreen;
}



.bilgi {
    background-color:green;
    text-align: center;
    font-size: 50px;
    text-decoration: none;

    position: relative;
    top: 500px;
}

canvas {
    vertical-align: center;
    background: #03001e;
    margin-left:480px;
}

button {
    background-color: green;
    margin: 5px;
}
