body {
    background-color: "white";
}

.buttons {
    position: relative;    
    padding-top: 70px;   
    margin-top: 40px;
    margin-left: 200px;
    
}
.grafik {
    margin-top: 50px;
    
}

canvas {  
    margin-top: 100px;
    margin-left: 450px; 
}
.alert-danger {
    width: 25%;
    margin-top: 20px;
}
.alert-success {
    width: 25%;
    margin-top: 20px;

    }
    

ul{
    padding-left: 0px;
    display: block;
    list-style-type: none;
}
li{
    display: inline;
    margin: 10px;
    margin-bottom: -2px;
    position: relative;
    
}
h1{
    font-size: 25px;
    background: -webkit-linear-gradient(#7c57be, rgb(72, 241, 129));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    position: relative;
    padding-left: 500px;
}